*.pch
*.obj
*.tlog
*.log
*.pdb
*.sdf
*.suo
*.opensdf
*.sbr
*.tlh
*.ipch
*.tlh
*.aps

MapMatrix3D/res/FeatureCollector2009.rc
*.user
mm3dDll/domDsmToOsgb/temporaryfile_xsjz_transparent_mosaic_group1.tif
MapMatrix3D/x64/Release/FeatureCollector2009.res
*.res
*.db
*.txt
*.dxf
*.plg
*.opt
*.ncb
*.lib
*.tli
*.idb
*.clw
*.db-shm
*.db-wal
*.opendb
